

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(down_arrow_select.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

.table { display: table; padding: 5px; font-size: 20px; text-align: left;
}
.row { display: table-row; padding: 5px; font-size: 20px; }
.cell { display: table-cell; padding: 5px; font-size: 20px;}
